server:
  port: 8080

spring:
  web:
    resources:
      add-mappings: false

logging:
  level:
    io.intellij.kotlin.grpc.client.service.DefaultHeartBeatService: debug
    io.intellij.kotlin.grpc.client.config.filter.MonitoringClientTransportFilter: debug
    io.intellij.kotlin.grpc.client.config.interceptor.GrpcConnClientInterceptor: debug